__pycache__/
database.db
*.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
.venv.*
data
./data
./data/*
data/*
.terraform
.terraform/*
!.env.example
!.gitignore
